#root {
  overflow: hidden;
}

.App {
}

.container {
  margin: 1em;
  background: #fee;
  border-radius: 1em;
  padding: 1em;
  text-align: left;
  transition: height 0.15s ease-in-out;
}

.container .title {
  margin-top: 0;
  text-align: center;
}

th {
  font-weight: bold;
}

.button {
  text-align: center;
  box-sizing: border-box;
}

.button-push_button-large {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}

.button-push_button-primary {
  background-color: #ffa2ca;
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}

.button-push_button-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(255, 208, 246, 0.25);
}

.button-push_button-primary:hover {
  background-color: #cb7ea0;
}

.button-push_button-primary:disabled {
  color: #fff;
  background-color: #b5b5b5;
}

.clickable {
  cursor: pointer;
}

.nav {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  bottom: 0;
  background: #ffeeee;
}

.nav-item {
  height: 3em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item_current {
  background: #ffb6b6;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(0deg); }
  60% { transform: rotate(5deg); }
  70% { transform: rotate(-5deg); }
  80% { transform: rotate(5deg); }
  90% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  display: inline-block;
  animation: wiggle 1s infinite;
}

.wiggle:hover {
  animation: none;
}